<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaopaine.albumwx">

    <application>
        <activity
            android:name=".BitmapRegionDecoderActivity"
            android:label="@string/title_activity_bitmap_region_decoder"
            android:parentActivityName="android.support.v7.app.AppCompatActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v7.app.AppCompatActivity" />
        </activity>
        <activity android:name=".FullImageActivity"></activity>
    </application>

</manifest>